
.hide {
    display: none;
}
.left {
    float: left;
    background-color: red;
}
.right {
    float: right;
    background-color: blue;
}
.clear {
    clear: both;
}
#reset-container, h1 {
    text-align: center;
}